* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

.silebar {
    width: 250px;
    height: 100%;
    background: #2A3F54;
    position: fixed;
    float: left;
}

.silebar .tenshop {
    line-height: 75px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.logo {
    padding-bottom: 40px;
}

.logoanh {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    padding: 2px;
    background: lemonchiffon;
    margin-left: 10px;
}

.logo p {
    font-size: 15px;
    padding-left: 100px;
    padding-top: 4px;
    color: grey;
}

.logo h6 {
    font-size: 15px;
    padding-left: 100px;
    color: white;
}

.silebar>ul {
    background: #2A3F54;
    height: 100%;
    /* list-style: none; */
}

.silebar>ul>li {
    padding-left: 20px;
}

.silebar>ul>li:hover {
    border-left: 2px solid cyan;
    background: rgba(255, 255, 255, .05);
}

.silebar>ul>li>a {
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.silebar>ul>li>a:hover {
    color: cyan;
}

.silebar ul .list-menu {
    display: none;
}

.silebar ul .list-menu li {
    line-height: 45px;
    font-size: 16px;
    list-style: none;
    margin-left: -20px;
    border-left: 3px solid transparent;
}

.silebar ul .list-menu li:hover {
    border-left-color: cyan;
    background: rgba(255, 255, 255, .05);
    text-shadow: rgb(0 0 0 / 25%) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgb(0 0 0 / 25%) 0 1px 0, inset rgb(255 255 255 / 16%) 0 1px 0;
}

.silebar .list-menu li a {
    padding-left: 40px;
    text-decoration: none;
    color: white;
    font-family: time_sleep_until;
}

.silebar>ul>li>a span {
    font-size: 16px;
}

.silebar>ul>li>.icon-home i {
    padding-left: 122px;
    font-size: 16px;
}

.silebar>ul>li>.icon-quanly i {
    padding-left: 100px;
    font-size: 16px;
}

.silebar ul .list-menu li a:hover {
    color: cyan;
}

.thanhtren {
    width: 100%;
    height: 45px;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
}

.thanhtren>ul {
    margin-left: 1200px;
    color: greenyellow;
}

.thanhtren>ul>li {
    float: left;
    line-height: 45px;
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
}

.thanhtren>ul>li:hover {
    background: rgba(0, 0, 0, 0.06);
}

.thanhtren>ul>li>a:hover {
    color: black;
}

.thanhtren>ul>li>a {
    text-decoration: none;
}

.thanhtren ul .menutren li {
    list-style: none;
    line-height: 35px;
    display: none;
}

.thanhtren ul .menutren li a {
    text-decoration: none;
}

.thanhtren>ul>li:hover .menutren li {
    display: block;
}

.main {
    margin-left: 260px;
    margin-top: 10px;
    width: 82%;
    height: auto;
}