.container__app {
    display: block;
    background: #f5f5f5;
    margin-top: 170px;
}

.container--content {
    padding: 30px 0 20px 0;
}

.category {
    background: var(--white-color);

    border-radius: 5px;

}

.category__heading {
    margin-top: 0;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 12px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}

.category__heading-icon {
    font-size: 1rem;

}

.category__list {
    list-style: none;
    padding: 0 0 12px 0;


}



.category__item--active .category__item-link {
    color: var(--primaty-color);
}

.category__item--active .category__item-link::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    border: 5px solid;
    border-color: transparent transparent transparent var(--primaty-color);

}

.category__item-link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 22px;
    right: 0;
    transition: right linear .2s;
}

.category__item-link:hover {
    right: -4px;
    color: var(--primaty-color);
}

/* content  */

.filter {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 12px 22px;
    display: flex;
    align-items: center;
    border-radius: 4px;

}

.filter__lable {
    font-size: 1.6rem;
    margin-right: 24px;
}

.filter-btn {

    min-width: 100px;
    margin-right: 12px;

}

.btn--primary {
    background-color: var(--primaty-color);
    color: var(--white-color);
}



.filter__select-input {
    min-width: 200px;
    height: 34px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border-radius: 3px;
    padding: 0 12px;
    position: relative;

}

.select__input-label {
    font-size: 1.4rem;
}

.select__input-icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select__input-list {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 4px;
    padding: 12px 16px;
    list-style: none;
    display: none;
    box-shadow: 0 2px 10px #ccc;
    z-index: 1;
    animation: fadeIn ease-in .4s;
}

.filter__select-input:hover .select__input-list {
    display: block;
}

.select__input-list::after {
    position: absolute;
    content: "";
    right: 0;
    top: -5px;
    width: 100%;
    height: 5px;



}

.select__input-link {
    text-decoration: none;
    display: block;
    padding: 8px 0;
    color: var(--text-color);
    font-size: 1.4rem;
}

.select__input-link:hover {

    color: var(--primaty-color);

}


.filter__pages {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.filter__pages-num {
    margin-right: 22px;
    font-size: 1.4rem;
    color: var(--text-color);

}

.filter__pages-current {

    color: var(--primaty-color);

}

.filter__pages-control {
    background-color: var(--white-color);
    display: flex;
    width: 72px;
    height: 36px;
    border-radius: 3px;
}

.filter__pages-btn--disabled {
    background-color: #f9f9f9;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.filter__pages-btn--disabled .filter__pages-icon {
    color: #ccc;
}

.filter__pages-btn {
    display: flex;
    flex: 1;
    text-decoration: none;

}

.filter__pages-btn:first-child {
    border-right: 1px solid #eee;
}

.filter__pages-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;

}



/* product  */
.product__list {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    padding-bottom: 15px;
    border-radius: 3px;
    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
  
    transition: transform ease-in .2s;
    will-change: transform;
}
.product__list:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.09);
transform: translateY(-2px);
}

.product__item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top center;
    border-top-left-radius:3px ;
    border-top-right-radius:3px ;
}

.product__item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.product__item-price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

}

.product__item-price-old {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 10px;
    color: #999;
    text-decoration: line-through;


}

.product__item-price-current {
    font-weight: 600;
    font-size: 1.6rem;
    margin-left: 10px;
    color: var(--primaty-color);


}

.product__item-action {
    margin: 10px 10px 6px;
    display: flex;
    justify-content: space-between;

}

.product__item-action-favourite {
    font-size: 1.2rem;


}

.product__item-like-favourite {

    color: #f63d30;
    display: none;
}

.product__item-action-favourite--liked .product__item-like-favourite {
    display: block;
}

.product__item-action-favourite--liked .product__item-no-like-favourite {
    display: none;
}

.product__item-action-rating {
    display: flex;
  
    font-size: 1rem;
    transform: scale(0.7);
    transform-origin: right;
   margin:-1px 0 0 auto;
    color: #d5d5d5;

}

.product__item-icon-star--gold {
    color: #ffce3e;
   
}

.product__item-sold {
    color: var(--text-color);
    padding-left: 5px;

}

.product__item-origin {
    display: flex;
    justify-content: space-between;
    margin:15px  10px 0;
    color:#595959 ;
    font-size: 1.4rem;
    font-weight: 300;
    

}


.product__item-favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color:var(--primaty-color);
    background-color: currentColor;
   
   line-height: 1.4rem;
   padding: 2px 6px 2px 4px;
   border-top-right-radius:3px ;
   border-bottom-right-radius:3px ;
   

}
.product__item-favourite::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 3.5px solid currentColor;
    border-left: 3.5px solid transparent;
    filter: brightness(60%);
   

}
.product__item-favourite span {
    color: var(--white-color);

}
.product__item-favourite i{
    color: var(--white-color);
    font-size: 1rem;
  
}

.product__item-sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 216, 94, 0.95);
    text-align: center;
    border-top-right-radius: 3px;
}
.product__item-sale-off::after{
   
    content: "";
    right: 0;
    left: 0;
    top: 100%;
    border-width:0  20px  5px;
    border-style:solid;
    color: rgba(255, 216, 94, 0.94);
    border-color: transparent currentColor transparent currentColor ;
    position: absolute;
}

.product__item-sale-off-percent {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: #EE4D2D ;
   padding: 4px 0;
}

.product__item-sale-off-label {
    color: var(--white-color);
}
